.tc_box{
  padding: 6px 15px 14px;

  > div{
    font-family: "consolas", monospace;
    padding: 6px;
    margin-bottom: 2px;
    background: #f9f9f9;
    color: #696969;

    b{
      font-family: Lato,sans-serif;
      color: #2a2a2a;
    }

    + .head{
      margin-top: 15px;
    }

    &.head{
      position: relative;
      font-family: Lato,sans-serif;
      color: #2a2a2a;
      padding: 9px 6px 8px 30px;
      border-bottom: 1px solid #e8e8e8;
      border-radius: 3px 3px 0 0;

      &:before{
        position: absolute;
        left: 6px;
        top: 7px;
        display: block;
        content: '';
        width: 16px;
        height: 16px;
        margin-right: 5px;
        background: url("/bundles/contaothemecompiler/icons/link.svg");
      }
    }

    &.head{
      font-weight: 600;
    }

    &.tc_error{
      background: #f1d9d4;
      color: #883d3d;
    }

    &.tc_warn{
      background: #f1d0ab;
      color: #88603d;
    }

    &.tc_success{
      background: #dff1c7;
      color: #3d883d
    }
  }
}

.themeCompileButton {
  border-color: #92c142;

  > img {
    position: relative;
    top: -2px;
    left: -4px;
  }
}

@media (max-width: 1279px) {

  .split-button {
    ul {
      .themeCompileButton {

        > img {
          top: 3px;
          left: -5px;
        }
      }
    }
  }
}
